div.menulogreg {
   margin-top: 50px;
   min-width: 500px; 
}

div.naglowek {
    font-size: 40px;
    text-align: center;
    margin-bottom: 60px;
}

div.logreg {
    font-size: 30px;
    margin-top: 80px;
    text-align: center;
}

div.lewa {
    float: left;
    border: 1px solid black;
}

div.prawa { 
   text-align: right;
   border: 1px solid black;
   font-size: 25px;
}

div.srodek {
    text-align: center;
    margin-top: 10px;
    
}
html {
  background-color:orange;
}

form {
   margin-top: 10px;
   margin-left:auto;
   margin-right:auto;
   width: 500px; 
}

input#chek {
    
width: 22px;
height: 22px;
font-size:large;
}