div.menulogreg {
   margin-top: 50px;
   min-width: 500px; 
}

div.naglowek {
    font-size: 40px;
    text-align: center;
}

div.logreg {
    font-size: 30px;
    margin-top: 80px;
    text-align: center;
}

div.lewa {
    float: left;
    text-align: left;
    font-size: 22px;
}

div.prawa { 
   text-align: right;
}

div.srodek {
    text-align: center;
    margin-top: 10px;
    
}
html {
  background-color:orange;
}

form {
   margin-top: 10px;
   margin-left:auto;
   margin-right:auto;
   width: 300px; 
}
